/* theme color */
$--color-primary: #318CEA;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body {
    @apply bg-white;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
#nav {  
    a {
        @apply font-bold text-gray-700;
  
        &.router-link-exact-active {
            @apply text-blue-500;
        }
    }
}

.el-message{
    @apply border-0;

    .el-message__icon, .el-message__content{
        color: white !important;
    }

    &.el-message--success{
        @apply bg-green-500;
    }

    &.el-message--error{
        @apply bg-red-500;
    }

    &.el-message--info{
        @apply bg-blue-500;
    }
}

.table{
    @apply w-full;

    th{
        @apply p-1 bg-gray-200;
    }

    td{
        @apply p-1;
    }
}
.table tr:hover td{
    @apply bg-gray-100 cursor-pointer;
}